.under
{
	position:relative;
	left:0px;
	top:0px;
	z-index:-1;
}		
.overHERO
{
	position:absolute;
	/*left:475px;
	top:260px;*/
	left:50%;
	top:25%;
	z-index:-1;
}
.overNPC
{
	position:absolute;
	left:55%;
	top:45%;
	z-index:-1;
}
.overButton
{
	position:absolute;
	left:53%;
	top:39%;
	z-index:1;
}
.hide
{
	position:absolute;
	display:none;
}