.under
{
	position:relative;
	left:0px;
	top:0px;
	z-index:-1;
}		
.overHERO
{
	position:absolute;
	left:475px;
	top:260px;
	z-index:-1;
}
.overNPC
{
	position:absolute;
	left:525px;
	top:445px;
	z-index:-1;
}
.hideNPC
{
	position:absolute;
	display:none;
}